# This file is a template, and might need editing before it works on your project.
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Nodejs.gitlab-ci.yml

# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:14

stages:
  - build
  - test
  - coverage

# Pick zero or more services to be used on all builds.
# Only needed when using a docker container to run your tests in.
# Check out: http://docs.gitlab.com/ee/ci/docker/using_docker_images.html#what-is-a-service
# services:
#  - mysql:latest
#  - redis:latest
#  - postgres:latest

# This folder is cached between builds
# https://docs.gitlab.com/ee/ci/yaml/index.html#cache
cache:
  paths:
    - node_modules/
    - typechain/
    - artifacts/
    - cache/

build:
  stage: build
  script:
    - npm install
    - npm run compile
    - npm run test
    - npm run coverage

#build:
#  stage: build
#  script:
#    - npm install
#    - npm run compile
#
#test:
#  stage: test
#  script:
#    - npm install
#    - npm run test
#
#coverage:
#  stage: coverage
#  script:
#    - npm install
#    - npm run coverage